/* CORPO */
#Gray {
    background-color: rgba(23, 23, 23, 1);
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
}

#Nike, #Adidas, #Lacoste, #VerMais {
    font-family: "Inter", serif;
    position: relative;
    overflow: hidden;
    font-size: 13px;
    padding: 50px;
    color: #fff;
}

#Nike {
    background: linear-gradient(to bottom, rgba(242, 88, 47, 1), rgba(155, 0, 62, 1));
}

#Adidas {
    background: linear-gradient(to bottom, rgba(67, 8, 106, 1), rgba(1, 204, 245, 1));
}

#Lacoste {
    background: linear-gradient(to bottom, rgb(54, 167, 1), rgb(141, 245, 92));
}

#VerMais {
    background: linear-gradient(to top, rgba(31, 31, 31, 0),  rgb(0, 177, 212));
}

/* DIVISÕES */
#TopSecao {
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
    display: flex;
}

#Secao {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    flex: 1;
}

.Roupas {
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.726);
    background-color: rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(10px);
    flex-direction: column;
    border-radius: 30px;
    align-items: left;
    text-align: left;
    display: flex;
    padding: 15px;
    z-index: 1;
}

.Roupas:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#RoupasSecao {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
}

/* IMAGENS */
#BcgnrPeople {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: auto;
    right: 0;
    top: 0;
}

#LogoBrand {
    transform: translateX(-50%);
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 10%;
    left: 50%;
}

#LacosteBrand {
    transform: translateX(-50%);
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 7%;
    left: 50%;
}

#LogoBrand2, #LacosteBrand2 {
    display: none;
}

#LogoEscr {
    width: 40%;
}

#RoupaImg {
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.466);
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    width: 160px;
    height: auto;
}

/* BOTÕES */
.BuyNike, .BuyAdidas, .BuyLacoste {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.726);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    padding: 10px 25px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    color: white;
    border: 0px;
    width: 100%;
}

.BuyNike {
    background-color: rgba(242, 88, 47, 1);
}

.BuyAdidas {
    background-color:  rgb(0, 177, 212);
}

.BuyLacoste {
    background-color: rgb(6, 199, 22);
}

.Abtn {
    background: linear-gradient(45deg, rgba(67, 8, 106, 1), rgba(1, 204, 245, 1));
}

.Lbtn {
    background: linear-gradient(45deg, rgb(54, 167, 1), rgb(141, 245, 92));
}

.Nbtn {
    background: linear-gradient(45deg, rgba(242, 88, 47, 1), rgba(155, 0, 62, 1));
}

.CDbtn {
    background: linear-gradient(45deg, rgb(47, 109, 242),rgba(1, 204, 245, 1));
}

.EEbtn {
    visibility: hidden;
}

.VMbtn {
    background-color: rgba(29, 29, 29, 0.466);
    -webkit-backdrop-filter: blur(30px)
}

.Abtn,
.Nbtn,
.Lbtn,
.CDbtn,
.VMbtn {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.568);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px 10px 10px 0px;
    border-radius: 50px;
    padding: 10px 25px;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    color: white;
    border: 0px;
}

.Abtn:hover, .Nbtn:hover, .Lbtn:hover, .VMbtn:hover, .CDbtn, .BuyNike:hover, .BuyAdidas:hover, .BuyLacoste:hover, .BuyMore:hover {
    transform: scale(1.04);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* FONTES */
h1 {
    color: rgb(247, 114, 77);
}

h2 {
    color: rgba(1, 204, 245, 1);
}

h3 {
    color:  rgb(141, 245, 92);
}

/* MOBILE*/
@media screen and (max-width: 768px) {
    /* SEÇÃO */
    #Gray {
        flex-direction: column;
        align-items: center;
    }

    #Nike, #Adidas, #Lacoste {
        font-size: 15px;
        padding: 25px;
    }

    #RoupasSecao {
        scroll-snap-type: x mandatory;
        scrollbar-width: thin;
        padding-bottom: 15px;
        flex-wrap: nowrap;
        overflow-x: auto;
        display: flex;
        gap: 15px;
    }

    #Roupas {
        min-width: 120px;
        flex: 0 0 auto;
    }

    #Secao {
        flex-direction: column;
        display: flex;
    }

    #RoupasSecao::-webkit-scrollbar {
        height: 8px;
    }

    #RoupasSecao::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.253);
        border-radius: 4px;
    }

    #RoupasSecao::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    /* TEXTOS */
    .textos {
        margin-bottom: 20px;
        text-align: center;
        max-width: 300px;
    }

    .textos p {
        word-wrap: break-word;
        font-size: 16px;
        margin: 0 auto;
    }

    /* IMAGENS */
    #LogoBig {
        margin: 0px;
        width: 75%;
    }

    #LogoEscr {
        margin-bottom: 20px;
        width: 90%;
    }

    #BcgnrPeople {
        display: none;
    }

    #LogoBrand, #LacosteBrand {
        display: none;
    }

    #LogoBrand2 {
        margin-bottom: 0px;
        display: block;
        width: 25%;
    }

    #LacosteBrand2 {
        margin-bottom: 0px;
        display: block;
        width: 20%;
    }

    /* BOTÕES */
    .EEbtn {
        background: linear-gradient(45deg, rgba(155, 0, 62, 1), rgba(242, 88, 47, 1), rgb(135, 1, 245));
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.568);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 50px;
        visibility: visible;
        padding: 10px 25px;
        font-weight: bold;
        font-size: 15px;
        color: white;
        border: 0px;
    }

    .btnMobile {
        justify-content: center;
        margin-bottom: 30px;
        display: flex;
    }

    .VMbtn {
      margin: 5px 0px;
    }

    .EEbtn:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.493);
        transform: scale(0.9);
    }

    .btns, p2 {
        display: none;
    }

    @media (hover: none) and (pointer: coarse) {
        .Roupas:hover {
            transform: none;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.726);
        }

        button:hover {
            transform: scale(1.1);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }
    }

    
}