<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="css/media/logo.png">
    <link rel="stylesheet" href="css/geral.css">
    <link rel="stylesheet" href="css/historico.css">

    <!-- FONTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <title>Detalhes do Produto</title>
</head>

<body>
    <header>
        <div id="h-content">
            <div id="h-logos">
                <img id="h-icon" src="css/media/logo.png" alt="Logo">
                <img id="h-logotxt" src="css/media/logo escrita.png" alt="Ilha das True">
            </div>
            <div id="h-menu">
                <img id="menu" onclick="window.location.href='https://www.instagram.com/ilhadastrue/'"
                    src="css/media/instagram2.png" alt="Instagram">
                <a href="javascript:void(0);" onclick="Menu()">
                    <img id="menu2" src="css/media/hmbrgr.png" alt="hmburgr">
                </a>
            </div>
        </div>

        <div id="topicos">
            <a href="">Adidas</a>
            <a href="">Lacoste</a>
            <a href="">Nike</a>
            <a href="">Ver Mais</a>
        </div>
    </header>

    <div id="main-content">
        <h1>Histórico</h1>
        <button id="back" onclick="location.href='index.html'"> Voltar para o Início </button>

        <h2>Peças Visualizadas</h2>
        <p>Mostramos apenas as seis peças mais recentes</p>

        <div id="RoupasSecao">
            <div id="Roupas">
                <img src="css/media/NikeTshirtSample.jpg" alt="camiseta da nike" id="RoupaImg">
                Camiseta Nike Preta
                <h3>R$65,00</h3>
                <button class="BuyNike" onclick="location.href='produto.html'">Ver Produto</button>
            </div>
            <div id="Roupas">
                <img src="css/media/AdidasTshirtSample.png" alt="camiseta da Adidas" id="RoupaImg">
                Camiseta Adidas
                <h3>R$65,00</h3>
                <button class="BuyAdidas" onclick="location.href='produto.html'">Ver Produto</button>
            </div>
            <div id="Roupas">
                <img src="css/media/LacosteTshirtSample.jpg" alt="camiseta da Adidas" id="RoupaImg">
                Camiseta Lacoste
                <h3>R$65,00</h3>
                <button class="BuyLacoste" onclick="location.href='produto.html'">Ver Produto</button>
            </div>
            <div id="Roupas">
                <img src="css/media/NikeTshirtSample.jpg" alt="camiseta da nike" id="RoupaImg">
                Camiseta Nike Preta
                <h3>R$65,00</h3>
                <button class="BuyNike" onclick="location.href='produto.html'">Ver Produto</button>
            </div>
            <div id="Roupas">
                <img src="css/media/AdidasTshirtSample.png" alt="camiseta da Adidas" id="RoupaImg">
                Camiseta Adidas
                <h3>R$65,00</h3>
                <button class="BuyAdidas" onclick="location.href='produto.html'">Ver Produto</button>
            </div>
            <div id="Roupas">
                <img src="css/media/LacosteTshirtSample.jpg" alt="camiseta da Adidas" id="RoupaImg">
                Camiseta Lacoste
                <h3>R$65,00</h3>
                <button class="BuyLacoste" onclick="location.href='produto.html'">Ver Produto</button>
            </div>
        </div>

        <h2>Peças Compradas</h2>
        <p>Mostramos apenas as seis peças mais recentes</p>

        <div id="RoupasSecao">
            <div id="Roupas">
                <img src="css/media/NikeTshirtSample.jpg" alt="camiseta da nike" id="RoupaImg">
                Camiseta Nike Preta
                <h3>R$65,00</h3>
                <button class="BuyNike" onclick="location.href='produto.html'">Ver Produto</button>
            </div>
            <div id="Roupas">
                <img src="css/media/AdidasTshirtSample.png" alt="camiseta da Adidas" id="RoupaImg">
                Camiseta Adidas
                <h3>R$65,00</h3>
                <button class="BuyAdidas" onclick="location.href='produto.html'">Ver Produto</button>
            </div>
            <div id="Roupas">
                <img src="css/media/LacosteTshirtSample.jpg" alt="camiseta da Adidas" id="RoupaImg">
                Camiseta Lacoste
                <h3>R$65,00</h3>
                <button class="BuyLacoste" onclick="location.href='produto.html'">Ver Produto</button>
            </div>
            <div id="Roupas">
                <img src="css/media/NikeTshirtSample.jpg" alt="camiseta da nike" id="RoupaImg">
                Camiseta Nike Preta
                <h3>R$65,00</h3>
                <button class="BuyNike" onclick="location.href='produto.html'">Ver Produto</button>
            </div>
            <div id="Roupas">
                <img src="css/media/AdidasTshirtSample.png" alt="camiseta da Adidas" id="RoupaImg">
                Camiseta Adidas
                <h3>R$65,00</h3>
                <button class="BuyAdidas" onclick="location.href='produto.html'">Ver Produto</button>
            </div>
            <div id="Roupas">
                <img src="css/media/LacosteTshirtSample.jpg" alt="camiseta da Adidas" id="RoupaImg">
                Camiseta Lacoste
                <h3>R$65,00</h3>
                <button class="BuyLacoste" onclick="location.href='produto.html'">Ver Produto</button>
            </div>
        </div>
    </div>

    <div id="footer">
        Site desenvolvido por<a href="https://github.com/niButera">Nicolas Butera</a>e<a
            href="https://github.com/yukio-sato">Yukio Sato</a>
    </div>

    <script src="js/hamburguer.js"></script>
</body>

</html>