body {
    background-color: rgba(23, 23, 23, 1);
    margin: 80px 0px 0px 0px;
    flex-direction: column; 
    min-height: 100vh;
    display: flex;
}

#main-content {
    flex: 1;
}

/* FONTES */
p {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    color: rgb(204, 204, 204);
    font-style: normal;
    font-size: 13px; 
    font-weight: 200;
}

p2 {
    font-family: "Inter", serif;
    color: rgb(204, 204, 204);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
}

h1, h2, h3 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px; 
    margin: 0px 0px 10px;
}

a {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
    font-family: "inter", serif;
    color: rgb(35, 185, 255);    
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

#footer {
    background-color: rgba(23, 23, 23, 1);
    font-family: "Inter", serif;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 20px;
    color: #fff;
    display: flex;
    gap: 5px;
}

/* CABEÇALHO */
header {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(22, 22, 22, 0.685);
    backdrop-filter: blur(50px);
    position: fixed;
    width: 100%;
    z-index: 9999;
    left: 0;
    top: 0;
}

#h-content {
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    margin: 0 auto;
    display: flex;
    width: 90%;
}

#h-menu {
    justify-content: row;
    align-items: center;
    display: flex;
    gap: 20px;
}

#h-logos {
    justify-content: start;
    flex-direction: row;
    align-items: center;
    display: flex;
}

#h-icon {
    padding-right: 25px;
    width: 60px;
}

#h-logotxt {
    width: 15%;
}

#menu {
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    cursor: pointer;
    width: 23px;
}

#menu2 {
    display: none;
    width: 23px;
}

#menu:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body.menu-open {
    transition: margin-top 0.3s ease;
    margin-top: 130px; 
}

/* TOPICOS */
#topicos {
    background-color: rgba(14, 14, 14, 0.932);
    transition: max-height 0.2s ease-out;
    flex-direction: column;
    position: absolute;
    text-align: center;
    overflow: hidden;
    display: flex;
    max-height: 0;
    width: 100%;
    top: 100%;
}

#topicos.show {
    max-height: 500px;
}

#topicos a {
    font-family: "Inter", sans-serif;
    color: rgb(233, 233, 233);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
}

#midias {
    justify-content: center;
    width: 20px;
}

/* CAIXA DE TEXTO */
.ImputBox {
    /* CAIXA */
    background-color: rgba(234, 234, 234, 1);
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    margin: 0px 0px 15px 0px;
    border-radius: 20px;
    padding: 15px;
    padding-left: 50px;
    border: 0px;
    cursor: text;
    /* TEXTO INSERIDO */
    font-family: "Poppins", sans-serif;
    color:rgba(145, 17, 16, 1);
    font-size: 15px;
}

/* ICONE DAS CAIXAS */
#nome {
    background-image: url('media/pessoa.png');
    background-position: 15px center;
    background-repeat: no-repeat; 
    background-size: 25px;
}

#email {
    background-image: url('media/email.png');
    background-position: 15px center;
    background-repeat: no-repeat; 
    background-size: 25px;
}

#senha {
    background-image: url('media/senha.png');
    background-position: 15px center;
    background-repeat: no-repeat; 
    background-size: 23px;
}

@media screen and (max-width: 768px) {
    #h-content {
        justify-content: space-between;
        display: flex;
    }

    #h-logotxt {
        display: none;
    }

    #menu {
        transition: transform 0.3s ease, box-shadow 0.2s ease;
        cursor: pointer;
        width: 23px;
    }

    #menu2 {
        display: block;
        width: 23px;
    }
}